.Home{
    background-image: url(images/BackgroundImg.png)
}

body{
    display: grid;
    grid-template-coloumns:repeat(10, auto);
    grid-template-rows:repeat(10, auto);
    grid-gap: 5px;
}
.Nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: lightblue;
    align-items: end;
    position: static;
    justify-content: 50px; 
}