body{
    display: grid;
    grid-template-coloumns:repeat(10, auto);
    grid-template-rows:repeat(10, auto);
    grid-gap: 5px;
}
.Nav {
    grid-column: 1/end;
    grid-row: 1/1;
    background-color: lightblue;
    text-align: center;

}